/* Fonts imports */
@import url( 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Fonts imports */

/* Fonts */
.jetbrains-mono-100 {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Fonts */

body {
    display: flex;
    background-color: #212f5b;
    color: #fff;
    justify-content: center;
    font-family: sans-serif;
}
#menu {
    display: flex;
    gap: 2vh;
    justify-content: center;
}
button {
    border-radius: 5px;
    border: none;
    font-size: 1em;
    color: #d2b4b4;
    background-color: #170101;
    font-family: "Bebas Neue", sans-serif;
}
button:hover{
    transition: 1s;
    background-color: #560f0f;
}
#menu button:hover {
    transition: 1s;
    rotate: 9deg;
}
.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    transform: translateY(-150%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 0.9rem;
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%);
}
#textToCopy {
    visibility: hidden;
}