*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
noscript {
    background-color: #1f326e;
}
#header {
    position: relative;
    background: no-repeat url("homebackground.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image:hover {
    transition: 0.5s;
    transform: translate(-50%, -50%) scale(1.1);
}